.globalContainer {
  display: flex;
  flex-direction: column;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  font-size: x-large;
  font-family:'Courier New', Courier, monospace;
  box-shadow: 1px 1px 12px -3px rgba(66, 68, 90, 1);
}

.navActive {
  color: rgb(238, 54, 54);
}
